extends layout

block content
  h1= title
  p
  | Welcome to #{title}. Here you can propose and vote solutions to decrease the water consumption.
  | Go to #[a(href="/propose") propose] to make a proposal.
